body[data-dsnm-on] {
  .dsnm-highlight {
    background-color: lightyellow;
    font-weight: bolder;
    color: #ffffff;
    cursor: help;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }

    &--0 {
      background-color: #00604c;
    }

    &--1,
    &--2,
    &--3 {
      background-color: #ff0095;
    }

    &--4,
    &--5,
    &--6 {
      background-color: #752689;
    }

    &--7 {
      background-color: #253da6;
    }

    &--8 {
      background-color: #1372b0;
    }

    &--9 {
      background-color: #303436;
    }
  }
}
